@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body, 
#root {
  height:100vh;
  margin: 0;
}

body,
input,
button,
select,
textarea {
  font-family: Montserrat, Arial, Helvetica, sans-serif ;
  font-size: 1.6rem;
}

.container-app {
  display: grid;
  grid-template-areas: 
  'header'
  'main'
  'footer';
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  color: #ff8000
}

header {
  grid-area: header;
  background-color: #59a5f1;
  color: #ffffff;

  display: flex;
  align-items: center;

  padding: 0.5rem;
}

header a {
  color: #ffffff;
  text-decoration: none;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  background-color: #59a5f1;
  color: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.content-app{
  display: flex;
  flex-wrap: wrap;
}

.main-content-app{
  flex: 3 60rem
}

.sidebar-app{
  flex: 1 20rem
}